.video-view {
    position: relative;
    width: 800px;
    height: 1280px;
  }
  
  .video-view .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-view .video-content {
    position: absolute;
    bottom: 0px;
  }
