.video-view {
    position: relative;
    width: 900px;
    height: 1500px;
  }
  
  .video-view .video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .video-view .video-content {
    position: absolute;
    bottom: 0px;
  }

  .myButton{
    margin-left: 363px;
    margin-bottom: 20px;
    width: 170px;
    height: 170px;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
